@mixin btnCouleur($couleur1, $couleur2, $couleur3) {
    color: $couleur1;
    background-color: $couleur2;
    &:hover {
        background-color: $couleur3;
    }
}

html {
    font-family: 'RocknRoll One', sans-serif !important;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

body {
    background-color: darkslategrey;
}

h1 {
    color: white;
    padding: 2vh;
}

h2 {
    color: white;
}

#conteneur {
    background-color: #00658a;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        width: 20%;
        text-decoration: none;
        &.fix {
            @include btnCouleur(Chocolate, Maroon, peru)
        }
        &.move {
            @include btnCouleur(crimson, pink, coral)
        }
        &.tricolore {
            @include btnCouleur(blue, white, crimson)
        }
        &.stop {
            @include btnCouleur(black, lightgray, gray)
        }
        &.rainbow {
            animation: text-arc-en-ciel 4.5s infinite, bg-arc-en-ciel 4.5s reverse infinite;
            &:hover {
                background-color: black;
                animation: text-arc-en-ciel 3s infinite,
            }
        }
    }
}

p {
    font-size: 1.5rem;
}

@keyframes text-arc-en-ciel {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}

@keyframes bg-arc-en-ciel {
    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }
    8% {
        background-color: rgb(255, 127, 0);
    }
    16% {
        background-color: rgb(255, 255, 0);
    }
    25% {
        background-color: rgb(127, 255, 0);
    }
    33% {
        background-color: rgb(0, 255, 0);
    }
    41% {
        background-color: rgb(0, 255, 127);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    58% {
        background-color: rgb(0, 127, 255);
    }
    66% {
        background-color: rgb(0, 0, 255);
    }
    75% {
        background-color: rgb(127, 0, 255);
    }
    83% {
        background-color: rgb(255, 0, 255);
    }
    91% {
        background-color: rgb(255, 0, 127);
    }
}