@mixin btnCouleur($couleur1, $couleur2, $couleur3) {
    color: $couleur1;
    background-color: $couleur2;
    &:hover {
        background-color: $couleur3;
    }
}

html {
    font-family: 'RocknRoll One', sans-serif !important;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

body {
    background-color: darkslategrey;
}

h1 {
    color: white;
    padding: 2vh;
}

h2 {
    color: white;
}

p {
    font-size: 1.5rem;
}

fieldset {
    background-color: lightgray;
}